/** Add css rules here for your application. */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.titleLabel {
  display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.RootPanel {
	color: #FFFFFF;
	background-color: #0095CD;
}
.byteGearSelected {
 	background-color: #FFFFFF;
	color: #0095CD;
}
.byteGearNotSelected {
 	background-color: #0095CD;
	color: #FFFFFF;
}
.byteToothName {
 	background-color: #0095CD;
	color: #8ae234;
}
.byteToothType {
 	background-color: #0095CD;
	color: #204a87;
}
.byteToothDesc {
 	background-color: #0095CD;
	color: #fce94f;
}
.stateButtonPreConFalse {
 	background-color: #babdb6;
	font-size: 1.7em;
	font-weight: normal;
	color: #888a85
}
.stateButtonPreConTrue {
 	background-color: #fcaf3e;
	font-size: 1.7em;
	font-weight: normal;
	color: #000000
}
.stateButtonSetMatch {
 	background-color: #f9ff00;
	font-size: 1.7em;
	font-weight: normal;
	color: #000000
}
.stateButtonActMatch {
 	background-color: #00ff00;
	font-size: 1.7em;
	font-weight: normal;
	color: #000000
}
.stateButtonReset {
 	background-color: #ef2929;
	font-size: 1.7em;
	font-weight: normal;
	color: #000000
}
.stateButtonOff {
 	background-color: #ff00ff;
	font-size: 1.7em;
	font-weight: normal;
	color: #000000
}
.stateButtonPressed {
 	background-color: #ffffff;
	font-size: 1.7em;
	font-weight: normal;
	color: #204a87
}
.opModeSelected {
 	background-color: #0095CD;
	font-size: 1.7em;
	font-weight: normal;
	color: #00ff00
}
.opModeUnselected {
 	background-color: #0095CD;
	font-size: 1.7em;
	font-weight: normal;
	color: #ffffff
}
.statusInterlockOk {
 	background-color: #0095CD;
	font-size: 15px;
	font-weight: bold;
	color: #00ff00
}
.statusInterlockNotOk {
 	background-color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	color: #ff0000
}
.statusInterlockWarn {
 	background-color: #0095CD;
	font-size: 15px;
	font-weight: bold;
	color: #f9ff00
}
.skelTab {
	background-color: #FFFFFF;
	color: #0095CD;
}
@external gwt-TabLayoutPanelTabs;
.gwt-TabLayoutPanelTabs {	
	background-color: #0082B3 !important;
}
@external gwt-TabLayoutPanelTab;
.gwt-TabLayoutPanelTab {
   color: white  !important;
   background: #0095CD !important;
}
@external gwt-TabLayoutPanelTab-selected;
.gwt-TabLayoutPanelTab-selected {
   color: #0095CD  !important;
   background: white !important;
}
