/** Add css rules here for your application. */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.titleLabel {
  display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.RootPanel {
	color: #FFFFFF;
	background-color: #0095CD;
}
.byteGearSelected {
 	background-color: #FFFFFF;
	color: #0095CD;
}
.byteGearNotSelected {
 	background-color: #0095CD;
	color: #FFFFFF;
}
.byteToothName {
 	background-color: #0095CD;
	color: #8ae234;
}
.byteToothType {
 	background-color: #0095CD;
	color: #204a87;
}
.byteToothDesc {
 	background-color: #0095CD;
	color: #fce94f;
}
.skelTab {
	background-color: #FFFFFF;
	color: #0095CD;
}
@external gwt-TabLayoutPanelTabs;
.gwt-TabLayoutPanelTabs {	
	background-color: #0082B3 !important;
}
@external gwt-TabLayoutPanelTab;
.gwt-TabLayoutPanelTab {
   color: white  !important;
   background: #0095CD !important;
}
@external gwt-TabLayoutPanelTab-selected;
.gwt-TabLayoutPanelTab-selected {
   color: #0095CD  !important;
   background: white !important;
}
