/** Add css rules here for your application. */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.titleLabel {
  display: block;
	color: #0e25fa;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.GskelVertPanel {
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #0095CD;
}
.TopicGridHeaderRow {
	color: #FFFFFF;
	font-size: 2.0em;
	font-weight: bold;
	background-color: #0095CD;
}
.TopicGridDataRow {
	color: #f9ff00;
	font-size: 1.0em;
	font-weight: normal;
	background-color: #0095CD;
}
