/bin/
/.settings/
/raspiPi-tcpbrokershiftrio1883/
/raspiPiAll-tcpbrokershiftrio1883/
/raspiPiOnOff-tcpbrokershiftrio1883/
/raspiPiSetup-tcpbrokershiftrio1883/
/remoteControlLLrf-tcpbrokershiftrio1883/
