/** Add css rules here for your application. */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.titleLabel {
  display: block;
	color: #0095CD;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.ItsLlrfPanel {
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #0095CD;
}
.rfOffButtonActivated{
	color: #000000;
	background-color: #f9ff00;
	font-size: 14pt;
}
.rfOnButtonActivated{
	color: #000000;
	background-color: #8ae234;
	font-size: 14pt;
}
.rfOffButtonNotActivated{
	color: #000000;
	background-color: #d3d7cf;
	font-size: 14pt;
}
.rfOnButtonNotActivated{
	color: #88#0000008a85;
	background-color: #d3d7cf;
	font-size: 14pt;
}

